# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Compilation files
.metadata
sotrii-tp2_01-application/Debug
sotrii-tp2_02-application/Debug
sotrii-tp2_03-application/Debug
/sotrii-tp2_02-application/sotrii-tp2_02-application.cfg
/sotrii-tp2_02-application/sotrii-tp2_02-application.launch
/.project
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/.idea/awsToolkit.xml
/.idea/editor.xml
/.idea/modules.xml
/.idea/sotrii-tp2_26Co2026-04.iml
/.idea/vcs.xml
